services:
  postgres:
    image: postgres:15-alpine
    container_name: bankcardsdb
    environment:
      POSTGRES_DB: bankcardsdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - bank-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: bank-cards-app
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bankcardsdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      JWT_SECRET: mySecretKeyForJWTTokenGenerationMustBeAtLeast256BitsLongForHS256Algorithm
      ENCRYPTION_KEY: myEncryptionSecretKeyMustBe32BytesLong123456
    ports:
      - "8080:8080"
    networks:
      - bank-network
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

networks:
  bank-network:
    driver: bridge